<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/petal.min.css}"/>
  <script type="application/javascript" th:src="@{/js/petal.min.js}"></script>
  <title>New Order</title>
</head>
<body>
<div class="container">
  <h4>New Order</h4>
  <form
      action="#"
      th:action="@{/orders/create}"
      method="post"
      th:object="${order}"
      enctype="multipart/form-data">
    <div class="row">
      <div class="col-4">
        <label for="customer">
          <strong>Customer</strong>
        </label>
      </div>
      <div class="col-4">
        <input class="input" type="text" id="customer" name="customer" th:field="*{customer}" required/>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn" type="submit">Create</button>
    </div>
  </form>
</div>
</body>
</html>
